{% extends "base.html" %}
{% block content %}
<div class="catalog">
    <div class="categories">
        <h2>Categories</h2>
        <ul>
            {% for i in categories %}
            <li>
                <a href="{{url_for('categoryItems', category_name=i.name)}}">{{i.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="items">
        <h2>{{category.name}} Items</h2>
        <ul>
            {% for i in items %}
            <li>
                <a href="{{url_for('item', category_name=i.category_name, item_id=i.id)}}">{{i.year}} {{i.make}} {{i.model}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}