{% extends "base.html" %} {% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-4 category">
            <h2>Category</h2>
            <ul>
                {% for i in categories %}
                <li>
                    <a href="{{url_for('categoryItems', category_name=i.name)}}">{{i.name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-8 items">
            <h2>{{category.name}}</h2>
            <ul>
                {% for i in items %}
                <li>
                    <a href="{{url_for('item', category_name=i.category_name, item_id=i.id)}}">{{i.year}} {{i.make}} {{i.model}}</a>
                </li> {% endfor %}
            </ul>
            <a href="{{url_for('addVehicle', category_name=category.name)}}" class="btn btn-primary">Add new item</a>
        </div>
    </div>
</div>
{% endblock %}