{% extends "base.html" %} {% block content %}
<div class="jumbotron vehicle">
    <div class="page-header text-center">

        <h1>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} - ${{vehicle.price}}, {{vehicle.mileage}} miles</h1>
    </div>
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body text-center">
            <img class="img-fluid" src="{{vehicle.image_url}}" />
        </div>
    </div>
    <div class="panel panel-default text-center" style="margin-top: 40px">
        <a href="{{url_for('editVehicle', category_name=vehicle.category_name, item_id=vehicle.id)}}" id="editButton" class="btn btn-primary">Edit</a>
        <a href="{{url_for('deleteVehicle', category_name=vehicle.category_name, item_id=vehicle.id)}}" id="deleteButton" class="btn btn-danger">Delete</a>
    </div>
    <div class="panel panel-default" style="margin-top: 40px">
        <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body">
            {{vehicle.description}}
        </div>
    </div>
</div>
</div>
<script>
    var token = "{{ login_session['access_token'] }}";
    if (token == 'null' || token == '') {
        $('#editButton').hide();
        $('#deleteButton').hide();
    } else {
        $('#editButton').show();
        $('#deleteButton').show();
    }
</script>
{% endblock %}