body {
    font-family: sans-serif;
    background-color: #e5e5e5;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


h2 {
    font-family: 'georgia', serif;
    margin: 0;
    font-size: 2em;
}


a {
    font-size: 1.5em;
}

.pane {
    position: absolute;
    left: 25%;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    border-color: #999999;
    background-color: #333333
}

/*
Header
*/

.header {
    display: flex;
    margin: 0px;
    width: 100%;
    text-align: center;
    background-color: white;
    padding-bottom: 30px;
    background-clip: content-box;
    min-height: 75px;
}

.header_info {
    display: flex;
    margin: auto;
    width: 1060px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header_title {
    padding: 10px;
    font-weight: 500;
    font-size: 46px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    
}

.login_logout {
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

/*
Content
*/

.catalog,
.item,
content {
    margin: auto;
    width: 1060px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #ffffff;
    flex-direction: row;
    box-shadow: 5px 10px 18px #888888;
    border: 1px solid black;
}

.information {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1060px;
    align-content: center;
    background-color: #ffffff;
    box-shadow: 5px 10px 18px #888888;
    border: 1px solid black;
    align-items: center;
}

.categories {
    flex: 1 1 0;
    text-align: left;
    border-right: 1px solid black;
    padding: 20px;
}

.recent,
.items {
    flex: 2 1 0;
    text-align: left;
    padding: 20px;
}

.vehicle_image {
    width: auto;
    height: auto;
    max-width: 80%;
    object-fit: contain;
    padding: 30px;
    margin: auto;
}

.vehicle_title {
    text-align: center;
    font-size: 2em;
}

.name {
    width: 50%;
    display: inline-block;
    float: left;
}

.description {
    text-align: left;
}

.price {
    text-align: right;
    width: 50%;
    float: right;
}

.editdeletepane {}

.flash {
    background: #cee5f5;
}
