<!DOCTYPE html>
<html lang="en">

<head>
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" contents="IE-Edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>{% block title %}Ye Olde Automobiles{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('catalog')}}">Ye Olde Automobiles</a>
            <div id="signinButton">
                <span class="g-signin" data-scope="openid email" data-clientid="555556284452-e2rn9fcr9ire62mapomgsb7942sgna3u.apps.googleusercontent.com"
                    redirect-uri="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback"
                    data-approvalprompt="force">
                </span>
            </div>
                <a id="signoutButton" class="btn btn-danger" href="{{url_for('gdisconnect')}}">Logout</a>
        </div>
    </nav>
    <script>
        var token = "{{ login_session['access_token'] }}";
        if (token == 'null' || token == '') {
            $('#signinButton').show();
            $('#signoutButton').hide();
        } else {
            $('#signinButton').hide();
            $('#signoutButton').show();
        }
    </script>
    <div class='container'>
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %}
                <div class="alert alert-{{ messages.0.0 }} text-center" role="alert">
            {% for category, message in messages %}
                {{ message }} </br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>




    <div class='container'>
        {% block content %}{% endblock %}
    </div>
    </div>



    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            window.location.href = "/catalog"
                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('.flash').html(
                                'Failed to make a server-side call. Check your configuration and console.'
                            );
                        }
                    }
                });
            }
        }
    </script>

    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

</body>
</html>