{% extends "base.html" %} {% block content %}
<div class="jumbotron vehicle">
    <div class="page-header text-center">

        <h1>{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} - ${{vehicle.price}}, {{vehicle.mileage}} miles</h1>
    </div>
    <div class="panel panel-default" style="margin-top: 20px">
        <div class="panel-body text-center">
            <img class="img-fluid" src="{{vehicle.image_url}}" />
        </div>
    </div>
    <div class="panel panel-default" style="margin-top: 40px">
        <div class="panel-heading">
            <h3 class="panel-title">Description</h3>
        </div>
        <div class="panel-body">
            {{vehicle.description}}
        </div>
    </div>
</div>
</div>
    {% endblock %}